@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <h2>Your Schedule Maker </h2>
    </p>
    <p>
        <h3>Use the navigation links to view or create your schedules </h3>
    </p>
</div>
